{% extends "layouts/base.njk" %}

{# head overwrites/additions #}
{% block additionalSiteStyles %}
  {# <link rel="stylesheet" href="/css/header-styles.css"> #}
  {# <link rel="stylesheet" href="/css/footer-styles.css"> #}
{% endblock %}

{% block additionalSiteScripts %}
  {# <script src="/js/header-scripts.js" defer></script> #}
{% endblock %}


{# body overwrites/additions #}
{% block icons %}
  {% include "partials/project-svgs.njk" %}
{% endblock %}

{% block header %}
  {% include "partials/project-header.njk" %}
{% endblock %}

{% block footer %}
  {% include "partials/footer.njk" %}
{% endblock %}
